.header {
	height: 5rem;
	display: flex;
	padding: 0 10%;
	justify-content: space-between;
	align-items: center;
	background-color: #3b72b3;
}

.nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	margin-left: 1.5em;
	font-size: 1.25rem;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav a:hover,
.nav a:active,
.nav a.active {
	color: #ffa800;
	font-weight: bold;
}
