.header {
	position: relative;
	height: 5rem;
	display: flex;
	padding: 0 3%;

	justify-content: right;
	align-items: center;
	background-color: var(--BLUE);
}

.nav ul {
	list-style-type: none;
	display: flex;
}

.nav li {
	margin-left: 2.5em;
}

.nav a {
	text-decoration: none;
	color: var(--WHITE);
}

.nav a:hover,
.nav a:active,
.nav a.active {
	color: var(--ORANGE);
}

.logo {
	background-image: url("../../Images/logo.svg");
	width: 265px;
	height: 31.5px;
	background-size: contain;
	position: absolute;
	left: 1.5%;
	top: 35%;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
}

@media screen and (max-width: 576px) {
	.logo {
		width: 151px;
		height: 18px;
		background-size: contain;
	}

	.nav li {
		margin-left: 1em;
		font-size: 0.8em;
	}
}
