.header {
	height: 5rem;
	display: flex;
	padding: 0 3%;

	justify-content: right;
	align-items: center;
	/* align-items: right; */
	background-color: var(--BLUE);
}

.nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	margin-left: 2.5em;
}

.nav a {
	text-decoration: none;
	color: var(--WHITE);
}

.nav a:hover,
.nav a:active,
.nav a.active {
	color: var(--ORANGE);
}
