.container {
	display: grid;
	grid-template-columns: 55vh minmax(0, 1fr) 1em;
}

.container__workout {
	position: sticky;
	background-color: var(--BLUE);
	height: 86vh;
	border-right: var(--BORDER);
	top: 0;
	align-self: start;
}

.container__workoutNameInput {
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 93%;
	color: var(--WHITE);
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0);
	border-bottom: var(--BORDER-WHITE);
}

.container__workoutDescription {
	margin: 15px 15px 0 15px;
	overflow-wrap: break-word;
	font-size: 0.9em;
	color: var(--WHITE);
}

.container__workout textarea {
	margin: 15px 15px 0 15px;
	height: 25vh;
	width: 93%;
}

.container__addDescriptionButton {
	background-image: url("../../images/addDescription.svg");
	margin: 15px 15px 0 15px;
	width: 10em;
	height: 2em;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
}

.container__addDescriptionButton:hover {
	transform: scale(1.1);
}

.container__exercises {
	margin-bottom: 5em;
}

.footer {
	position: sticky;
	/* align-self: start; */
	/* background-color: black; */
	float: right;
	bottom: 0.5em;
}

.footer button {
	width: 126px;
	height: 39px;
	font-weight: bold;
	margin-right: 0.5em;
	border-radius: var(--BORDER-RADIUS);
}
.footer button:hover {
	transform: scale(1.1);
}

.play {
	background-color: var(--BLUE);
	color: var(--WHITE);
	border: none;
}

.edit,
.delete,
.save {
	background-color: var(--WHITE);
	color: var(--ORANGE);
	border: var(--BORDER);
}

/* .checkmark,
.delete,
.play,
.edit {
	width: 126px;
	height: 39px;
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
}

.checkmark {
	background-image: url("../../images/checkmark.svg");
	background-color: var(--ORANGE);
	background-position: center;
	background-size: 40%;
}
.checkmark:hover {
	transform: scale(0.9);
}

.delete {
	background-image: url("../../images/delete.svg");
}
.delete:hover {
	transform: scale(0.9);
}

.edit {
	background-image: url("../../images/edit.svg");
}
.edit:hover {
	transform: scale(0.9);
	background-image: url("../../images/editHover.svg");
}

.play {
	background-image: url("../../images/play.svg");
}
.play:hover {
	transform: scale(0.9);
} */

@media screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.container__workout {
		position: relative;
		width: 100%;
	}
}
