.mainContainer {
	position: relative;
	height: 87vh;
	margin: 0 auto;
	overflow: hidden auto;
}

.playingExercise {
	height: 65vh;
	background-color: var(--WHITE);
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	display: grid;
	grid-template-columns: 65vh 1fr 1fr;
	width: 97.5%;
	margin: auto;
}

.playingExercise__exerciseInformation,
.playingExercise__exerciseState {
	margin: 0em 3em 0em 3em;
}

.playingExercise__exerciseName {
	margin-top: 3em;
}
.playingExercise__exerciseBreakBetweenSets {
	margin-top: 0.5em;
}
.playingExercise__exerciseDescription {
	margin-top: 1em;
	font-size: 0.9em;
}

.playingExercise__exerciseState {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.playingExercise__timer {
	margin-top: 3em;
	font-size: 3em;
}

.playingExercise__sets {
	margin-top: 1em;
	display: flex;
}

.playingExercise__sets p {
	font-size: 1.5em;
	margin: 0 0.4em 0 0.4em;
}

.nextSet,
.previousSet {
	background-image: url("/src/images/changeSet.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 14px;
	height: 25px;
	border: none;
}

.nextSet {
	transform: rotate(180deg);
}

.upNext {
	width: 75%;
	height: calc(87vh - 65vh);
	margin-left: 40vw;
	color: white;
	display: flex;
	align-items: center;
}

.upNext__exercise,
.upNext__break {
	width: 25vw;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	height: 15vh;
	margin-right: 1em;
}

.upNext__exercise {
	display: grid;
	grid-template-columns: 15vh 1fr;
}

.upNext__name {
	font-size: 1.3em;
	margin: 1.1em 0 0 1rem;
}

.upNext__timeOrSets {
	font-size: 0.9em;
	margin: 0.2em 0 0 1rem;
}
