.mainContainer {
	position: relative;
	height: 87vh;
	margin: 0 auto;
	overflow: hidden;
}

.mainContainer button {
	display: block;
	margin: auto;
}

.playingExercise,
.break {
	position: relative;
	height: 70vh;
}

.playingExercise,
.workoutFinished {
	margin: auto;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	background-color: var(--WHITE);
	width: 97.5%;
}

.playingExercise {
	display: grid;
	grid-template-columns: 70vh 1fr 1fr;
}

.break {
	gap: 1em;
	display: flex;
	color: var(--WHITE);
}

.break__breakInformation {
	position: relative;
	width: 80%;
	margin-left: 1.25vw;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	color: var(--WHITE);
}

.breakTimer,
.workoutFinished__title {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 40%;
	font-size: 5em;
}

.breakTitle {
	position: absolute;
	font-size: 3em;
	top: 13%;
	left: 8%;
}

.break__nextButton {
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
}

.nextExerciseName,
.nextExerciseSets,
.nextExerciseDescription {
	position: absolute;
	left: 3rem;
}

.nextExerciseName {
	font-size: 2em;
	top: 3rem;
}

.nextExerciseSets {
	top: 6rem;
}
.nextExerciseDescription {
	top: 8rem;
}

.playingExercise__exerciseInformation,
.playingExercise__exerciseState {
	margin: 0em 3em 0em 3em;
}

.playingExercise__exerciseName {
	margin-top: 8rem;
}
.playingExercise__exerciseBreakBetweenSets {
	margin-top: 0.5em;
}
.playingExercise__exerciseDescription {
	margin-top: 1em;
	font-size: 0.9em;
}

.playingExercise__exerciseState {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.playingExercise__timer {
	margin-top: 10rem;
	font-size: 5em;
}

.playingExercise__sets {
	margin-top: 1em;
	display: flex;
}

.playingExercise__sets p {
	font-size: 1.5em;
	margin: 0 0.4em 0 0.4em;
}

.nextSet,
.previousSet,
.previousExercise,
.playTimer,
.pauseTimer,
.nextExercise {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}

.previousSet:hover,
.previousExercise:hover,
.playTimer:hover,
.pauseTimer:hover {
	transform: scale(1.1);
}

.nextSet,
.previousSet {
	background-image: url("/src/images/changeSet.svg");
	width: 14px;
	height: 25px;
}

.nextSet,
.nextExercise {
	transform: rotate(180deg);
}
.nextSet:hover,
.nextExercise:hover {
	transform: rotate(180deg) scale(1.1);
}

.nextButton,
.workoutFinished__backToHomePageButton {
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
}

.utility {
	display: flex;
	justify-content: center;
	gap: 15em;
	margin-left: calc(70vh / 2);
}

.utilityButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.playTimer,
.pauseTimer {
	width: 80px;
	height: 80px;
}

.playTimer {
	background-image: url("/src/images/playTimer.svg");
}

.pauseTimer {
	background-image: url("/src/images/pauseTimer.svg");
}

.previousExercise,
.nextExercise {
	width: 29px;
	height: 60px;
	background-image: url("/src/images/changeExercise.svg");
}

.upNext {
	width: 80%;
	height: calc(87vh - 70vh);
	color: white;
	display: flex;
	align-items: center;
	gap: 1em;
}

.upNext__title {
	white-space: nowrap;
}

.upNext__exercise,
.upNext__break,
.upNext__wellDone {
	width: 25vw;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	height: 12vh;
}

.upNext__wellDone {
	background-color: var(--ORANGE);
}

.upNext__exercise {
	display: grid;
	grid-template-columns: 12vh 1fr;
}

.upNext__name {
	font-size: 1.5em;
	white-space: nowrap;
	margin: 0.6em 0 0 1rem;
}

.upNext__timeOrSets {
	font-size: 0.9em;
	margin: 0.2em 0 0 1rem;
}

.upNext__wellDoneTitle {
	font-size: 1.5em;
	margin: 1.5rem 0 0 1rem;
}

.workoutFinished {
	position: relative;
	background-color: var(--BLUE);
	color: var(--WHITE);
	height: 70vh;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
}

@media screen and (max-width: 768px) {
	.playingExercise,
	.workoutFinished {
		display: flex;
		flex-direction: column;
	}

	.playingExercise__image {
		max-height: 30vh;
		border-bottom: var(--BORDER);
	}

	.playingExercise__exerciseInformation,
	.playingExercise__exerciseState {
		margin: 0em 0.5em 0em 0.5em;
	}

	.playingExercise__exerciseName {
		margin-top: 0.5rem;
	}
	.playingExercise__exerciseBreakBetweenSets {
		margin-top: 0.5em;
		font-size: 0.9rem;
	}

	.playingExercise__timer {
		margin-top: 0.5rem;
		font-size: 3.5rem;
	}

	.playingExercise__sets {
		margin-top: 0.5em;
	}

	.break__breakInformation {
		width: 97.5%;
	}

	.utility {
		justify-content: start;
		margin-left: 1em;
		gap: 1em;
	}

	.utilityButtons {
		margin-top: 0.5em;
		transform: rotate(90deg);
	}

	.playTimer,
	.pauseTimer {
		position: absolute;
		top: 1em;
		right: 1.5em;
		width: 50px;
		height: 50px;
	}

	.nextExercise,
	.previousExercise {
		width: 20px;
		height: 60px;
	}

	.upNext {
		margin-top: 0.5em;
		display: block;
	}

	.upNext__title {
		margin-bottom: 0.5em;
	}

	.upNext__exercise,
	.upNext__break,
	.upNext__wellDone {
		width: 95%;
	}

	.upNext__name {
		font-size: 1.3em;
		white-space: nowrap;
		margin: 0.6em 0 0 1rem;
	}

	.upNext__timeOrSets {
		font-size: 0.8em;
		margin: 0.2em 0 0 1rem;
	}

	.upNext__wellDoneTitle {
		font-size: 1.5em;
		margin: 1.5rem 0 0 1rem;
	}
	.workoutFinished__title {
		top: 30%;
	}
}
