.playingWorkout button {
	display: block;
	margin: auto;
}

.playingWorkout__utilityButtons {
	margin-top: 0.5em;
	display: flex;
}

.break {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: auto;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	margin-top: 0.5em;
	padding: 0.5em 0em 0.5em 1em;
	font-size: 1.5rem;
	font-weight: bold;
}
