.container {
	position: relative;
	display: grid;
	grid-template-columns: 32vw minmax(0, 1fr) 1em;
}

.container__workout {
	position: sticky;
	top: 0;
	align-self: start;
}

.container__workout h4 {
	position: absolute;
	top: 33.5vw;
	left: 15px;
	padding-right: 1em;
	/* overflow-wrap: break-word;
	text-overflow: clip;
	word-wrap: break-word; */
}

.container__exercises {
	margin-bottom: 5em;
}

.container__checkmark {
	position: sticky;
	bottom: 0;
	float: right;
	width: 100px;
	height: 100px;
	background-image: url("../../Images/checkmark.png");
	background-size: cover;
	border: none;
}
.container__checkmark:hover {
	background-image: url("../../Images/checkmarkHover.png");
}
.container__deleteButton {
	position: sticky;
	bottom: 0;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
	top: 10px;
	right: 60px;
	width: 100px;
	height: 100px;
	background-color: var(--WHITE);
	border: none;
	background-image: url("../../Images/delete.png");
}

.container__workoutImage {
	height: 33vw;
	background-color: var(--BLUE);
	position: relative;
}

.container__workoutImage h1 {
	position: absolute;
	bottom: 15px;
	left: 15px;
	word-wrap: break-word;
	color: var(--WHITE);
	font-weight: normal;
}
