.container {
	display: grid;
	grid-template-columns: 33vw 1fr 1em;
}

.workout {
	position: sticky;
	top: 0;
	align-self: start;
}

.exercises {
	display: flex;
	flex-direction: column;
}

.container__workoutImage {
	height: 33vw;
	background-color: var(--BLUE);
}

.container h1 {
	word-wrap: break-word;
}
