.container {
	display: grid;
	grid-template-columns: 40vw 1fr;
}

.container h1 {
	margin-bottom: 1em;
}

.form,
.welcome {
	margin: 8em 6em 0 6em;
}

.form label {
	display: block;
	color: var(--BLUE-SECONDARY);
	margin-bottom: 0.1em;
	margin-top: 1em;
}

.form input {
	width: 250px;
	border-color: var(--BLUE-BRIGHT);
	color: var(--BLUE);
	font-weight: 500;
	font-size: 1.1em;
}

.link {
	position: absolute;
	bottom: 4%;
	right: 4%;
	font-size: 0.9em;
	color: var(--BLUE-SECONDARY);
}

.link:visited {
	color: var(--BLUE-SECONDARY);
}

.form button {
	margin: 55px 0 0 90px;
}

.welcomeImage {
	height: 86vh;
	width: 40vw;
	object-fit: cover;
	border-right: var(--BORDER);
}

.createAccountButton,
.continueAsGuestButton {
	background-color: var(--BLUE);
	color: var(--WHITE);
	width: 12em;
	height: 3.2em;
	border: none;
	border-radius: var(--BORDER-RADIUS);
	cursor: pointer;
}

.createAccountButton:hover,
.continueAsGuestButton:hover,
.createAccountButton:active,
.continueAsGuestButton:active {
	transform: scale(1.1);
}

.createAccountButton {
	margin: 2em 1em 2em 0em;
}

@media screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.welcomeImage {
		height: 30vh;
		width: 100%;
		border-bottom: var(--BORDER);
		border-right: none;
	}

	.form,
	.welcome {
		margin: 1em 1em 0 1em;
	}

	.link {
		bottom: 2%;
	}

	.form button {
		margin: 25px 0 0 120px;
	}

	.container h1 {
		margin-bottom: 0.6em;
	}

	.form label {
		display: block;
		color: var(--BLUE-SECONDARY);
		margin-bottom: 0;
		margin-top: 0.7em;
	}

	.welcome {
		text-align: center;
	}

	.welcomeButtons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.createAccountButton {
		margin: 0 0 1em 0;
	}
	.continueAsGuestButton {
		margin: 0em;
	}
}
