.container {
	margin-top: 8%;
	margin-left: 15%;
}

.container h1 {
	margin-bottom: 1em;
}

.form label {
	display: block;
	color: var(--BLUE-SECONDARY);
	margin-bottom: 0.1em;
	margin-top: 1em;
}

.form input {
	width: 250px;
	border-color: var(--BLUE-BRIGHT);
	color: var(--BLUE);
	font-weight: 500;
	font-size: 1.1em;
}

.link {
	position: absolute;
	bottom: 4%;
	left: 2%;
	font-size: 0.9em;
	color: var(--BLUE-SECONDARY);
}

.link:visited {
	color: var(--BLUE-SECONDARY);
}

.container button {
	margin: 55px 0 0 90px;
}
