.workouts {
	margin: 1em 0 0 0;
	padding: 1em 2%;
}

.workouts h2 {
	margin-bottom: 0.5em;
}

.workouts__gridContainer {
	display: grid;
	gap: 1em;
	grid-template-rows: 60vh;
}

.workouts__workout {
	position: relative;
	height: 60vh;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
}

.workouts__workout:hover {
	transform: scale(0.97);
}

.workouts__viewWorkoutButton {
	width: 100%;
	height: 100%;
	background-color: var(--BLUE);
	border: none;
}

.workouts__workoutImageContainer {
	position: absolute;
	width: 100%;
	height: 76.6%;
	top: 0;
	left: 0;
}

.workouts__workoutImage {
	background-color: var(--BLUE-SECONDARY);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.workouts__workoutName {
	position: absolute;
	color: white;
	text-align: left;
	font-weight: 400;
	top: 65%;
	left: 4%;
	right: 4%;
	width: 100%;
}

.workouts__workoutDescription {
	position: absolute;
	color: white;
	font-weight: 400;
	overflow-wrap: break-word;
	overflow: hidden;
	text-align: left;
	font-size: 0.68em;
	line-height: 1.2em;
	top: 75%;
	right: 28%;
	left: 5%;
	max-height: 22%;
}

.workouts__newWorkout {
	background-image: url(../Images/newWorkout.svg);
	background-color: var(--WHITE);
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size: 75%;
	height: 60vh;
}

.workouts__newWorkout:hover {
	transform: scale(0.97);
}

.imageButton {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.edit {
	background-image: url("../Images/edit.svg");
	width: 35px;
	height: 35px;
	top: 2%;
	right: 2%;
}

.edit:hover {
	transform: scale(1.1);
	background-image: url("../Images/editHover.svg");
}

.play {
	background-image: url("../Images/play.svg");
	width: 66px;
	height: 66px;
	bottom: 11%;
	right: 4%;
}

.play:hover {
	transform: scale(1.1);
	/* background-image: url("../Images/playHover.svg"); */
}

@media screen and (min-width: 576px) {
	.workouts__gridContainer {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 768px) {
	.workouts__gridContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.workouts__gridContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1200px) {
	.workouts__gridContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}
