.workouts {
	width: 95%;
	margin: auto;
	padding: 1em 0;
}

.workouts .gridContainer {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
}

.workout {
	background-color: rgb(67, 149, 204);
}
