.workouts {
	margin: auto;
	padding: 2em 5%;
}

.workouts .gridContainer {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr;
}

.workouts__workoutBackground {
	background-color: var(--BLUE);
	height: 20vw;
	width: 20vw;
	object-fit: cover;
}

@media screen and (min-width: 576px) {
	.workouts .gridContainer {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 768px) {
	.workouts .gridContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.workouts .gridContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1200px) {
	.workouts .gridContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}
