.button {
	background-color: var(--BLUE);
	padding: 10px 15px;
	font-size: 1.3rem;
	border: none;
	border-radius: var(--BORDER-RADIUS);
	cursor: pointer;
	font-weight: bold;
}

.button:hover,
.button:active {
	background-color: var(--ORANGE);
}

.button:disabled {
	background-color: grey;
	cursor: default;
}
