.button {
	background-color: var(--BLUE);
	color: var(--WHITE);
	padding: 10px 15px;
	font-size: 1.3rem;
	border: none;
	border-radius: var(--BORDER-RADIUS);
	cursor: pointer;
}

.button:hover,
.button:active {
	transform: scale(1.1);
}

.button:disabled {
	background-color: grey;
	cursor: default;
}
