.button {
	background-color: var(--BLUE);
	color: var(--WHITE);
	width: 8em;
	height: 2.4em;
	border: none;
	border-radius: var(--BORDER-RADIUS);
	cursor: pointer;
}

.whiteButton {
	color: var(--ORANGE);
	background-color: var(--WHITE);
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
}

.button:hover,
.button:active {
	transform: scale(1.1);
}

.button:disabled {
	background-color: grey;
	cursor: default;
}
