.image {
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--BLUE);
	position: relative;
	color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
}

.image p {
	z-index: 2;
}

.workoutImage {
	height: 50vh;
}

.imageOverlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3b71b3b0;
	z-index: 1;
}

.image img {
	display: block;
	aspect-ratio: 1/1;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.image input[type="file"] {
	display: none;
}

.image h1 {
	z-index: 2;
	position: absolute;
	bottom: 15px;
	left: 15px;
	word-wrap: break-word;
	color: var(--WHITE);
	font-weight: normal;
}

@media screen and (max-width: 576px) {
	.image {
		min-height: 20vh;
	}
}
