.image {
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--BLUE-SECONDARY);
	position: relative;
	overflow: hidden;
}

.image p {
	color: rgba(255, 255, 255, 1);
}

.workoutImage {
	height: 55vh;
}

.exerciseImage {
	border-right: var(--BORDER);
}

.image img {
	display: block;
	aspect-ratio: 1/1;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.image input[type="file"] {
	display: none;
}

.image h1 {
	position: absolute;
	bottom: 0;
	left: 15px;
	word-wrap: break-word;
	color: var(--WHITE);
	font-weight: normal;
}

@media screen and (max-width: 576px) {
	.image {
		min-height: 20vh;
	}
}
