.imageOverlay,
.imageFilter {
	position: absolute;
	width: 100%;
	height: 100%;
}

.imageOverlay {
	display: block;
	top: 0;
	left: 0;
	background-color: #3b71b36b;
}

.imageFilter {
	background-image: url("../../Images/imageFilter.svg");
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
}

.imageFilterExercise {
	bottom: -20%;
}
