.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}

.modal {
	position: fixed;
	top: 30vh;
	height: 40%;
	left: calc(50% - 30%);
	width: 60%;
	z-index: 100;
	background-color: var(--WHITE);
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
}

.title {
	font-size: 1.6em;
	margin: 12% 10% 3% 12%;
}

.content {
	margin: 0% 45% 0 12%;
	word-wrap: break-word;
}

.actions {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.actions button {
	margin-left: 1em;
}

@media (max-width: 768px) {
	.modal {
		left: calc(50% - 10rem);
		width: 20rem;
	}

	.actions button {
		width: 5em;
		height: 2em;
	}
}
