@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	/* FONTS */
	--FF: "Inter", sans-serif;
	--FS: clamp(1rem, 2.2vh, 1.5rem);

	/* COLORS */
	--BLUE: #3b72b3;
	--GRAY-BLUE: #abc1dc;
	--ORANGE: #ffa800;
	--LIGHT-GRAY: rgb(245, 245, 245);
	--WHITE: #fff;

	/* BORDERS */
	--BORDER: 4px var(--ORANGE) solid;
	--BORDER-BLUE: 4px var(--BLUE) solid;
	--BORDER-GRAY-BLUE: 4px var(--GRAY-BLUE) solid;
	--BORDER-INVALID: 4px red solid;
	--BORDER-RADIUS: 5px;

	/* STANDARD PADDING */
	--PADDING-TB: 0.25em;
	--PADDING-SIDE: 5%;

	/* MARGIN */
	--MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}
