.form {
	display: grid;
	background-color: var(--ORANGE);
	grid-gap: 3px;
	grid-template-columns: 30vh 20vh 1.5fr 0.5fr;
	grid-template-rows: 30vh 15vh;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	margin: 1em;
}

.form__exercise {
	grid-column: 2/5;
	background-color: var(--WHITE);
	padding: var(--ELEMENT-PADDING);
}

.form__exercise input {
	margin-top: 3em;
	margin-left: 1.5em;
}

.form__exercise textarea {
	width: 90%;
	margin-top: 1em;
	margin-left: 1.5em;
}

.form input.invalid {
	border: none;
	border-bottom: 4px red solid;
}

.form p.invalid {
	color: rgb(184, 19, 19);
	font-weight: bold;
}

.form__image {
	background-color: var(--BLUE);
	display: flex;
	justify-content: center;
	align-items: center;

	color: rgba(255, 255, 255, 0.7);
}

.form__image input[type="file"] {
	display: none;
}

.form__routine {
	background-color: var(--WHITE);
	padding: var(--PADDING);
}

.form__routine label {
	display: block;
}

.form__repsOrSets {
	display: flex;
}

.form__orImage {
	background-image: url("../../Images/or.png");
	background-size: cover;
	width: 40px;
	height: auto;
	background-color: white;
}
