.form {
	position: relative;
	display: grid;
	gap: 4px;
	background-color: var(--ORANGE);
	border: var(--BORDER);
	grid-template-columns: 14vw 11vw 20vw 1fr 12.5vh;
	grid-template-rows: 25vh 12.5vh;
	border-radius: var(--BORDER-RADIUS);
	margin: 1em;
}

.form__exercise {
	grid-column: 2/6;
	background-color: var(--WHITE);
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.form__exercise input {
	margin-top: 2em;
}

.form__exercise textarea {
	margin-top: 0.75em;
	height: 40%;
}

.form__addDescriptionButton {
	background-image: url("../../images/addDescriptionBlue.svg");
	margin-top: 0.75em;
	/* margin: 15px 15px 0 15px; */
	width: 10.5em;
	height: 2.2em;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
}
.form__addDescriptionButton:hover {
	transform: scale(1.1);
}

.form p.invalid {
	color: rgb(184, 19, 19);
	font-weight: bold;
}

.form__routine {
	display: grid;
	place-content: center;
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
	background-color: var(--WHITE);
}

.form__routine label {
	display: block;
}

.form__routine input {
	min-width: 60%;
}

.form__greyRoutine {
	display: grid;
	place-content: center;
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
	background-color: var(--WHITE);
}

.form__greyRoutine label {
	display: block;
	color: var(--BLUE-BRIGHT);
}

.form__greyRoutine input {
	min-width: 60%;
	color: var(--BLUE-BRIGHT);
	border-color: var(--BLUE-BRIGHT);
}

.form__repsOrSets {
	display: flex;
	background-color: var(--WHITE);
}

.form__checkmark,
.form__delete,
.form__cancel,
.form__orImage {
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
}

.form__orImage {
	background-image: url("../../images/or.svg");
	background-size: contain;
	width: 60px;
}

.form__checkmarkButton {
	background-color: var(--ORANGE);
	border: none;
}

.form__checkmark {
	background-image: url("../../images/checkmark.svg");
	background-size: cover;
	background-size: 40%;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.form__checkmark:hover {
	background-color: var(--BLUE);
}

.form__delete {
	background-image: url("../../images/delete.svg");
	position: absolute;
	top: 7.5px;
	right: 50px;
	width: 24.5px;
	height: 31.5px;
}
.form__delete:hover {
	transform: scale(1.1);
}
.form__cancel {
	background-image: url("../../images/Cancel.svg");
	position: absolute;
	top: 12.5px;
	right: 12.5px;
	width: 22.5px;
	height: 22.5px;
}

.form__cancel:hover {
	transform: scale(1.15);
}

@media screen and (max-width: 996px) {
	.form {
		display: flex;
		flex-direction: column;
	}

	.form__exercise input {
		margin-top: 0.5em;
		margin-left: 0.5em;
	}

	.form__exercise textarea {
		margin-left: 0.5em;
		min-height: 10vh;
	}

	.form__checkmark {
		background-size: 50%;
		margin: auto;
		width: 10vh;
		height: 10vh;
	}
}
