.exercise {
	position: relative;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	display: grid;
	grid-template-columns: 14vw 3fr 0.5em;
	column-gap: 1em;
	min-height: 20vh;
}
.notInButton {
	margin: 1em;
}

.exercise h3,
.exercise p {
	margin: 0.75em 0 0.75em 0;
	text-align: left;
}

.routine {
	margin-top: 0.75em;
	padding: var(--PADDING-TB) 0;
	display: flex;
	justify-content: space-between;
}

.exercise__image {
	background-color: var(--BLUE);
}

.exercise__button {
	width: 97%;
	background-color: var(--WHITE);
	outline: none;
	border: none;
	margin: 1em 1em 0em 1em;
	color: var(--BLUE);
}
.exercise__button:hover {
	background-color: var(--LIGHT-GRAY);
}
