.exercise {
	position: relative;
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	display: grid;
	grid-template-columns: 14vw minmax(0, 3fr);
	min-height: 14vw;
	column-gap: 1em;
}
.notInButton {
	width: 97%;
	margin: 1em 1em 1.5em 1em;
}

.exercise p {
	text-align: left;
	overflow-wrap: break-word;
}

.exercise__name {
	text-align: left;
	margin: 0.75em 0 0.75em 0em;
}

.exercise__Description {
	margin-bottom: 4em;
}

.routine {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	margin: 3em 0em 1em 0em;
	text-align: left;
}

.routine h3 {
	padding: 0em 1em 0em 0em;
}

.exercise__button {
	width: 97%;
	background-color: var(--WHITE);
	outline: none;
	border: none;
	margin: 1em 1em 0.5em 1em;
	color: var(--BLUE);
}

.exercise__button:hover .exercise {
	border: var(--BORDER-BLUE);
}

@media screen and (max-width: 1200px) {
	.routine {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2em 2em 2em 2em;
	}
	.exercise__Description {
		margin-bottom: 10em;
	}
}

@media screen and (max-width: 768px) {
	.exercise {
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.exerciseInformation {
		margin-left: 1em;
	}
}
