.form {
	display: grid;
	background-color: orange;
	grid-gap: 3px;
	grid-template-areas:
		"im ex ex ex"
		"rt rt rt rt";
	grid-template-columns: 20vh 20vh 1fr 0.5fr;
	grid-template-rows: 20vh 10vh;
	border: 3px #ffa800 solid;
	border-radius: 5px;
}

.form .form_group {
	padding: 5px;
}

.form textarea {
	width: 95%;
}

.form input.invalid {
	border: 3px red solid;
}

.form p.invalid {
	color: rgb(184, 19, 19);
	font-weight: bold;
}

.image {
	grid-area: im;
	background-color: #3b72b3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(207, 207, 207);
}

.form input[type="file"] {
	display: none;
}

.exercise {
	grid-area: ex;
	background-color: #f5f5f5;
}

.routine {
	display: flex;
	flex-direction: row;
	grid-area: rt;
	background-color: #f5f5f5;
}
/* 
.routineInput {
	padding: 5px;
}

.routineInput + .routineInput {
	border-left: 3px solid #ffa800;
} */
