.exercise {
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr 5fr 1em;
	column-gap: 1em;
}

.routine {
	display: flex;
	justify-content: space-between;
}

.exercise button {
	margin-right: 1em;
	margin-bottom: 1em;
}

/* .exercise__editButton {
	background-image: url("");
} */

.exercise__image {
	background-color: var(--BLUE);
}
