.newExerciseButton {
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	margin: 1em;
	width: var(--EXERCISE-WIDTH);
	min-height: 20vh;
	background-color: var(--WHITE);
	background-image: url("../../images/addExercise.svg");
	background-repeat: no-repeat;
	background-position: 10% 50%;
}
.newExerciseButton:hover {
	transform: scale(0.97);
}

@media screen and (max-width: 768px) {
	.newExerciseButton {
		width: var(--EXERCISE-WIDTH-SMALL-SCREENS);
	}
}
