.playingExercise {
	background-color: rgb(196, 55, 24);
	width: 50%;
	margin: auto;

	border: 5px rgb(0, 0, 0) solid;
	border-radius: 40px;
	margin-top: 1rem;
	padding: 40px;
	font-size: x-large;
	font-weight: bold;
}
